<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdF7dAnQ7Na3tUfXfjHc2wNP7mf1boeOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>871474779536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stackogames.stacko.tower</string>
	<key>PROJECT_ID</key>
	<string>stackotower</string>
	<key>STORAGE_BUCKET</key>
	<string>stackotower.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871474779536:ios:cce2a65b6c921591b5cf15</string>
</dict>
</plist>